.ad_box{
    margin-top: .7rem;
    background-color: #FFF;
    border-radius: .3rem;
    padding:.3rem;
    border:1px solid #eee;
}
.ad_box div{
    border-radius: .3rem;
    margin-bottom: .2rem;
    overflow: hidden;
}
.ad_height {
    height: 7rem;
}
.ad_height img {
    height: 100%;
}