.author_box{
    text-align: center;
    padding: 1rem;
    background-color: #FFF;
    border-radius: .3rem;
    border:1px solid #eee; 

}
.author_box div{
    margin-bottom: 1rem;

}
.author_introduction{
    font-size:.8rem;
    color: #999;
}
.account{
    background-color: #999;
    margin-left: .5rem;
    margin-right: .5rem;
    cursor: pointer;
}
.my_avatar {
    border: 1px solid #eee;
    box-shadow:  0 0 5px #a8a4a4;
}
.com_icon {
    cursor: pointer;
}