.blogType_blog_type_content__12pzS .ant-list-header {
    padding: 2px;
    
}
.blogType_blog_type_content__12pzS .ant-list-item.ant-list-item-no-flex {
    padding: 7px 0;
    padding-left: .75rem;
}