.blog_type_content {
    margin-top: .5rem;
    background-color: #FFF;
    border-radius: .3rem;
    padding:.3rem;
    border:1px solid #eee;
}
.blog_type_title {
    font-size: 15px;
    font-weight: 600;
    padding: 4px 5px;
    /* border-bottom: 1px solid #eee; */

}
.blog_type_item {
    color: rgba(0, 0, 0, 0.65);
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.blog_type_name {
    width: 75%;
    /* display: inline-block; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
/* 右侧icon样式 */
.blog_type_icon {
    margin-right: 5%;
}
.blog_type_icon svg{
    height: 22px;
}