
.toc_list .ant-anchor .ant-anchor-link .ant-anchor-link-title {
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.65);
}
.toc_list .ant-anchor-wrapper{
    padding: 5px !important;
}
.toc_list .ant-anchor-link-title.ant-anchor-link-title-active {
    color: #1890ff!important;
}
@media(max-width:800px) {
    .ant-col.list_type_list__1q0yl.ant-col-xs-24.ant-col-sm-24.ant-col-md-18.ant-col-lg-17.ant-col-xl-14 {
        margin-left: 0;
    }
    .ant-col.detail_blog_detail_left__2xh7L.ant-col-xs-24.ant-col-sm-24.ant-col-md-18.ant-col-lg-17.ant-col-xl-14 {
        margin-left: 0;
    }
}
