.blog_detail_left {
    background-color: #FFF;
    margin-left: 1.2rem;
    border-radius: .3rem;
    border:1px solid #eee; 
}
@media (max-width: 800px) {
    .blog_detail_left {
        margin-left: 0rem;
    }

}
.bread_box{
    padding: .5rem;
    border-bottom:1px solid rgb(168, 157, 157);
    background-color: #e1f0ff;
}
.detailed_title{
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem;
}
.center{
    text-align: center;
}
.detailed_content{
    padding: 1.3rem;
    font-size: 1rem;
}
.detailed_icon{
    padding:.5rem 0;
    color:#AAA;
    text-align: center;
}
.detailed_icon span{
    /* display: inline-block; */
    padding: 0 5px;
}
.detailed_content  img{
    width: 100%;
    border:1px solid #f3f3f3;
}
.title_anchor{
    color:#888 !important;
    padding:4px !important;
    margin: 0rem !important;
    height: auto !important;
    line-height: 1.2rem !important;
    font-size: .9rem !important;
    border-bottom: 1px dashed #eee;
}
.active{
    color: #1890ff!important;
}
.detailed_nav {
    margin-top: .3rem;
    background-color: #FFF;
    border-radius: .3rem;
    padding:.3rem;
    border:1px solid #eee;
}
.nav_title{
    text-align: center;
    color: #888;
    border-bottom: 1px solid rgb(30, 144, 255);
}

.article-menu{
    font-size:12px;
}

.title-level3{
    display: none !important;
}


