html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #f6f6f6;
}
a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
.my_body {
  min-height: 100vh;
}
html {
  overflow-y: scroll;

}
.globals_left{
  /* background-color: #FFF; */
  /* padding:.3rem; */
  margin-left: 1.2rem;
  border-radius: .3rem;
  border:1px solid #eee; 
  /* overflow: hidden; */
}
@media (max-width: 800px) {
    .globals_left {
        margin-left: 0rem;
    }

}
.globals_right{
  margin-left: .5rem;
  border-radius: .3rem;
  border-bottom:1px solid #eee;
}
.globals_main{
  margin-top: .4rem;
}
.globals_box{
  margin-top: .7rem;
  background-color: #FFF;
  border-radius: .3rem;
  padding:.3rem;
  border:1px solid #eee;
}

.ant-pagination.my_pagination {
  /* text-align: center; */
  margin-top: 2.5rem;
  margin-left: .5rem;
  padding-bottom: 2rem;
}
@media (max-width: 800px) {
  .ant-pagination.my_pagination {
    margin-left: 0;
    text-align: center;
  }
}
/* .ant-list-item.ant-list-item-no-flex {
  border-bottom: 1px solid #f0f0f0!important ;
} */

pre{
  display: block;
  background-color:#f3f3f3;
   padding: .5rem !important;
   overflow-y: auto;
   font-weight: 300;
   font-family: Menlo, monospace;
   border-radius: .3rem;
}
pre{
  background-color: #283646 !important;
}
pre >code{
  border:0px !important;
  background-color: #283646 !important;
  color:#FFF;

}
code {
  display: inline-block ;
  background-color:#f3f3f3;
  border:1px solid #fdb9cc;
  border-radius:3px;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  color:#4f4f4f;
  margin: 0px 3px;

}
.my_spin {
  position: relative;
  background-color: #fff;
}
.my_spin .ant-spin.ant-spin-spinning {
  /* margin-top: 100px; */
  position: fixed;
  top: calc(50% - 200px);
}
.ant-spin-dot.ant-spin-dot-spin {
  position: absolute!important;
  left: 42%!important;
}
@media (max-width: 800px) {
  .ant-spin-dot.ant-spin-dot-spin {
    position: absolute!important;
    left: 50%!important;
  }
}
.slick-dots.slick-dots-bottom {
  bottom: 0;
}
/* 顶部 小屏幕菜单出现样式 */
.ant-menu-item .ant-menu-item-icon, .ant-menu-submenu-title .ant-menu-item-icon, .ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
  margin-right: 0!important;
}

/* 顶部icon样式 */
.ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal {
  display: flex;
  /* 右翻转 */
  /* flex-direction: row-reverse; */
  justify-content:flex-end;
}
/* aboutMe中的label样式*/
.aboutMe_label__FgGD_ .ant-tag.ant-tag-has-color {
  margin-bottom: 5px;
}


/* 尝试操作dom添加该样式 */
.click_add {
  background-color: #6db9ff;
  color: #fff!important;
}

/* .min_drawer_header {

} */
.min_drawer_header .ant-drawer-title {
  display: inline-block;
  padding-right: 10px;
  border-right: 2px solid #6db9ff;
}
.min_drawer_header .ant-drawer-body {
   padding: 15px 0;
}
.min_drawer_header .ant-drawer-body  .ant-list-item.blogType_min_blog_type_item__WGOnc {
  padding-left: 15px;
}