html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #f6f6f6;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
.globals_left{
  background-color: #FFF;
  padding:.3rem;
  margin-left: 1.2rem;
  border-radius: .3rem;
  border:1px solid #eee; 
}
@media (max-width: 800px) {
    .globals_left {
        margin-left: 0rem;
    }
    .ant-pagination.my_pagination {
      text-align: center;
    }
}
.globals_right{
  margin-left: .5rem;
  /* padding:.3rem; */
  border-radius: .3rem;
  border-bottom:1px solid #eee;
}
.globals_main{
  margin-top: .5rem;
}
.globals_box{
  margin-top: .7rem;
  background-color: #FFF;
  border-radius: .3rem;
  padding:.3rem;
  border:1px solid #eee;
}

.ant-pagination.my_pagination {
  /* text-align: center; */
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  margin-left: .5rem;
}
/* .ant-list-item.ant-list-item-no-flex {
  border-bottom: 1px solid #f0f0f0!important ;
} */

pre{
  display: block;
  background-color:#f3f3f3;
   padding: .5rem !important;
   overflow-y: auto;
   font-weight: 300;
   font-family: Menlo, monospace;
   border-radius: .3rem;
}
pre{
  background-color: #283646 !important;
}
pre >code{
  border:0px !important;
  background-color: #283646 !important;
  color:#FFF;

}
code {
  display: inline-block ;
  background-color:#f3f3f3;
  border:1px solid #fdb9cc;
  border-radius:3px;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  color:#4f4f4f;
  margin: 0px 3px;

}
.my_spin {
  position: relative;
}
.my_spin .ant-spin.ant-spin-spinning {
  /* margin-top: 100px; */
  position: fixed;
  top: calc(50% - 200px);
}
.ant-spin-dot.ant-spin-dot-spin {
  position: absolute!important;
  left: 42%!important;
}
@media (max-width: 800px) {
  .ant-spin-dot.ant-spin-dot-spin {
    position: absolute!important;
    left: 50%!important;
  }
}