html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #f6f6f6;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
.globals_left{
  background-color: #FFF;
  padding:.3rem;
  margin-left: 1.2rem;
  border-radius: .3rem;
  border-bottom:1px solid #eee;
}
@media (max-width: 800px) {
    .globals_left {
        margin-left: 0rem;
    }
}
.globals_right{
  background-color: #FFF;
  margin-left: .5rem;
  padding:.3rem;
  border-radius: .3rem;
  border-bottom:1px solid #eee;

}
.globals_main{
  margin-top: .5rem;
}