
.list_title{
    font-size:1.3rem;
    color: #1e90ff;
    padding: 0 0.5rem;
}
.list_context{
    color:#777;
    padding:.5rem;
}
.list_icon{
    padding:.5rem 0;
    color:#AAA;
}
.list_icon span{
    display: inline-block;
    padding: 0 5px;
}
.bread_box{
    padding: .5rem;
    border-bottom:1px solid #eee;
    background-color: #e1f0ff;
}